@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
html,body{
	background-color: #23303D;
	margin:0;
	font-family: "Fira Code";
	font-style: normal;
  font-weight: bold;
}
/*Navbar CSS*/
nav {
  background-color: #1d2833;
  padding-left: 128px;
  top: 13px;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
}

b {
  font-size: 26px;
}

nav * {
  background-color: #1d2833;
  font-weight: 700;
}
g {
  color: #1ea54c;
}

.btnsignup {
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: none;
  width: 154px;
  height: 36px;
  font-size: 16.9706px;
}

.navbar-nav {
  padding-right: 128px;
}

@media (max-width: 992px) {
  nav {
    padding-left: 12px;
  }
  .navbar-nav {
    padding-right: 0;
  }
}  
.form-control{
  max-width: 764px;
  max-height: 56px;
  border: 3px solid rgba(30, 165, 76, 0.2)!important;
  border-radius:2px !important;
  background-color: #2E3D4C!important;
  font-family:inherit;
  font-style: normal;
  font-weight: bold;
  padding:20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: rgba(239, 255, 255, 0.7);
  opacity: 0.7;
}
input{
  border: 3px solid rgba(30, 165, 76, 0.2);
  border-radius:2px ;
  background-color: #2E3D4C;
}
input, select, textarea{
color:white;
}

textarea:focus, input:focus {
color:white;
}
form{
padding-top:70px;
padding-bottom:30px;
}
.button1{
  padding:5px 2vw ;
  padding-bottom:10px;
  text-align: center;
  background: #1D2833;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 60.3333px;
  color:#1EA54C ;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  max-height: 38px;
  min-height:29.64px;
}
.button {
  padding: 0.5vw 2vw ;
  padding-bottom:10px;
  text-align: center;
  color: #fff;
  background: #1EA54C;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  max-height: 38px;
  min-height:29.64px;
}
.box{
  padding-bottom:20px;
}
.card{
  border:1.5px solid #323c46;
  background-color:#23303D;
}
.card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:#1D2833;
  color: #E7EFEF;
  font-family: "Nunito Sans";
  line-height:1;
}
.card-body p{
  font-size:large;
}
t{
  font-size: small;
  color:#1EA54C;
}
.parbox{
  padding-bottom:20px;
}
.row m{
    padding-bottom:10px;
}

/*footer CSS*/
.footer > div > div > div {
  background: #1d2833;
  color: rgba(231, 239, 239, 0.7);
}

.footer {
  box-shadow: -3px -3px 3px 1px rgba(24, 33, 42, 0.83);
}

.footerbottomt {
  top: 31px;

  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 38.2353px;
  line-height: 50px;
  letter-spacing: 0.04em;
  color: #e7efef;
}

g1 {
  background: #1d2833;
  color: #1ea54c;
}

.footerbottom1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16.5391px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: rgba(231, 239, 239, 0.7);
  background: #1d2833;
}

.footerbottomimg {
  margin-left: 6vw;
}

#foobottom {
  background: #23303D;
  padding-top: 105.640px;
}

@media (max-width: 550px) {
  .footerbottomimg {
    margin-left: 1vw;
  }

  .footerbottom1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 8.57143px;
    line-height: 10px;
  }
  .footerbottomimg img {
    width: 14.89px;
    background: #1d2833;
  }
  .footerbottomimgmain img {
    width: 14.89px;
    background: #1d2833;
  }
}
