@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
html,body{
	background-color: #23303D;
	margin:0;
	font-family: "Fira Code";
	font-style: normal;
  font-weight: bold;
}
.form-control{
  max-width: 764px;
  max-height: 56px;
  border: 3px solid rgba(30, 165, 76, 0.2)!important;
  border-radius:2px ;
  background-color: #2E3D4C!important;
  font-family:"Fira Code";
  font-style: normal;
  font-weight: bold;
  padding:20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color:white!important;
}
input,input:focus {
  outline: none!important;
  border: 2px solid rgba(30, 165, 76, 0.2)!important;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83)!important;
}
input:focus{
  border-color:rgba(11, 226, 83, 0.329)!important;
}
textarea,textarea:focus {
  outline: none!important;
  border: 2px solid rgba(30, 165, 76, 0.2)!important;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83)!important;
}
textarea:focus{
  border-color:rgba(11, 226, 83, 0.329)!important;
}
input{
  border: 3px solid rgba(30, 165, 76, 0.2);
  border-radius:2px ;
  background-color: #2E3D4C;
}
form{
padding-top:70px;
padding-bottom:30px;
}
.button1{
  padding:5px 2vw ;
  padding-bottom:10px;
  text-align: center;
  background: #1D2833;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 60.3333px;
  color: #fff;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  max-height: 38px;
  min-height:29.64px;
  font-family: "Fira Code";
}
.button {
  padding: 0.5vw 2vw ;
  padding-bottom:10px;
  text-align: center;
  color: #fff;
  background: #1EA54C;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  max-height: 38px;
  min-height:29.64px;
  font-family: "Fira Code";
}
.box{
  padding-bottom:20px;
}
.card{
  border:1.5px solid #323c46;
  background-color:#23303D;
}
.card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:#1D2833;
  color: #E7EFEF;
  font-family: "Nunito Sans";
  line-height:1;
}
.card-body p{
  font-size:large;
}
t{
  font-size: small;
  color:#1EA54C;
}
.parbox{
  padding-bottom:20px;
}
.row m{
    padding-bottom:10px;
}
/*media queries*/
@media only screen and (max-width:500px){
  .box1{
    display:none;
  }
}
@media only screen and (min-width:501px){
  .box2{
    display:none;
  }
}


.card2{
	width: 743px;
	height: 110px;
	left: 128px;
	top: 547px;
	filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.2));
	background-color: #1D2833;
	margin-bottom: 20px;
}
.Image1{
	margin-top: 10px;
}
.text13{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #ffffff;
	margin-top: 30px;
	margin-bottom: 0px;
}
.text14{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 15.2632px;
	line-height: 21px;
	letter-spacing: 0.04em;
	color: #1EA54C;
}
.text15{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.12em;
	color: #ffffff;
	margin: 40px 0 0 60px;
	cursor: pointer;
}
	.creates{
	align-content: center;
	text-align: center;
}
.textteam{
	font-family: Fira Code;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 140%;
	letter-spacing: 0.04em;
	color: #ffffff;
	margin-top: 30px;
}

@media (min-width: 380px) and (max-width: 464px){
	.text13{
		font-size: 24px;
		margin-left: 20px;
	}
	.text14{
		font-size: 15px;
		margin-top: 10px;
		margin-left: 20px;
	}
	.text15{
		font-size: 15px;
		margin-left: 22px;
	}
}
@media only screen and (max-width:379px){
  .text13{
    font-size:18px;
    margin-left:27px;
  }
  .text14{
    font-size: 14px;
    margin-left: 27px;
  }
  .text15{
    font-size:12px;
    margin-left:16px;
  }
}
