@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
html,body{
	background-color: #23303D;
	margin:0;
	font-family: "Fira Code";
	font-style: normal;
	font-weight: bold;
}
.text1{
	font-family: Fira Code;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 140%;
	letter-spacing: 0.04em;
	color: #ffffff;
	margin-top: 50px;
}
.input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  padding: .8em 0 10px .8em;
  border: 2px solid rgba(30, 165, 76, 0.2);
  outline: 0;
  display: inline-block;
  margin: 80px 0 0 5px;
  padding-right: 2em;
  width: 100%; 
  background-color: #2E3D4C;
}
.input1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  padding: .8em 0 10px .8em;
  border: 2px solid rgba(30, 165, 76, 0.2);
  outline: 0;
  display: inline-block;
  margin: 0px 0 0 5px;
  padding-right: 2em;
  width: 100%; 
  background-color: #2E3D4C;
}
.button {
  	margin-top: 80px;
  	background-color: #226045;
  	border: none;
  	color: #fff;
  	cursor: pointer;
  	filter: drop-shadow(1.36585px 1.36585px 13.6585px rgba(0, 0, 0, 0.2));
  	width: 169px;
	height: 60px;
	font-family: Fira Code;
	font-style: normal;
	font-weight: bold;
	font-size: 23.1794px;
	line-height: 30px;
	letter-spacing: 0.04em;
}
.card{
	width: 316px;
	height: 520px;
	background: #1D2833;
	box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
	border-radius: 3px;
	margin-left: 50px;
	margin-bottom: 20px;
	margin-top: 75px;
}
.card-body{
	color: #ffffff;
}
.card-title{
	font-family: Fira Code;
	font-style: normal;
	font-weight: bold;
	font-size: 19.0385px;
	line-height: 25px;
	letter-spacing: 0.04em;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.form-check-input{
	margin-left: 30px;
    height: 20px;
    width: 20px;
}
.check-label{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14.2788px;
	letter-spacing: 0.04em;
	margin-left: 10px;	
}
.button1{
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0 90px;
  cursor: pointer;
  background: #1D2833;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 90px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 15.2px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #ffffff;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
}         
.buttons{
	margin-left: 20px;
	display: contents;
}
.button3{
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  background: #1EA54C;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  height: 38px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 15.2px;
}
.button2{
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  background: #1D2833;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 15.2px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #1EA54C;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  height: 38px;
}
.top-button{
	display: contents;
}
.low-button{
	display: contents;
}
.text5{
	height: 21px;
	left: 251px;
	top: 370px;
}
.text6{
	height: 21px;
	left: 251px;
	top: 370px;
}
.text7{
	height: 21px;
	left: 251px;
	top: 370px;
}
.text8{
	height: 21px;
	left: 251px;
	top: 370px;
}
.text9{
	height: 21px;
	left: 251px;
	top: 370px;
}
.text10{
	height: 21px;
	left: 251px;
	top: 370px;
}
.text11{
	height: 21px;
	left: 251px;
	top: 370px;
}
.text12{
	height: 21px;
	left: 251px;
	top: 370px;
}
.names{
	margin-top: 30px;
	margin-left: 0px;
}
.options{
	margin-top: 30px;
}
.persons{
	margin-top: 30px;
}
.card2{
	width: 743px;
	height: 110px;
	left: 128px;
	top: 547px;
	filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.2));
	background-color: #1D2833;
	margin-bottom: 20px;
}
.Image1{
	margin-top: 10px;
}
.text13{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #ffffff;
	margin-top: 30px;
	margin-bottom: 0px;
}
.text14{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 15.2632px;
	line-height: 21px;
	letter-spacing: 0.04em;
	color: #1EA54C;
}
.text15{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.12em;
	color: #ffffff;
	margin: 40px 0 0 60px;
	cursor: pointer;
}
.text16{
	font-family: Fira Code;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 140%;
	letter-spacing: 0.04em;
	color: #ffffff;
	margin-top: 30px;
}
@media (min-width: 375px) and (max-width: 991px){
	.button{
		margin-left: 250px;
	}
	.team_name{
		transform: scale(1.35);
	}
	.names{
		transform: scale(1.35);
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.button3{
		margin-left: 60px;
		margin-right: 75px;
		margin-bottom: 50px;
		transform: scale(1.8);
	}
	.button2{
		margin-left: 40px;
		margin-right: 88px;
		margin-bottom: 65px;
		transform: scale(1.8);
	}
	.button1{
		margin: 10px 20px 10px 85px;
	}
	.persons{
		margin-top: 100px;
		transform: scale(1.3);
	}
	.card{
		transform: scale(2.6);
		margin-top: 580px;
		margin-left: 180px;
		margin-bottom: 500px;
		height: 500px;
	}
	.input1{
		margin-left: 0px;
		margin-top: 0px;
		font-size: 30px;
	}
	.text1{
		font-size: 48px;
		margin-bottom: 60px;
	}
	.text13{
		font-size: 40px;
	}
	.text14{
		font-size: 20px;
		margin-top: 10px;
	}
	.text15{
		font-size: 24px;
	}
	.text16{
		font-size: 40px;
	}
}
@media (min-width: 992px) and (max-width: 1100px){
	.card{
		margin-left: 26px;
	}
	.card-body{
		padding-right: 0px;
	}
}
.form-check-input:checked {
  background-color: green !important;
  border-color: green !important;
}
.form-check-input[type=checkbox] {
  border-radius:0rem !important;
}