@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
* {
  background-color: #23303d;
  font-family: "Fira Code", monospace;
  color: #e7efef;
}

.hackname {
  padding-top: 72px;
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */

  letter-spacing: 0.04em;

  color: #e7efef;
}

.details {
  padding-top: 48px;
}
.details2 {
  padding-top: 61px;
}
nbg {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.08em;

  color: rgba(231, 239, 239, 0.36);
}
input#image_uploads {
  opacity: 0;
}

.inputimg {
  width: 101.6%;
}

.textbox {
  margin-top: 4px;

  width: 84.25%;
  height: 43.14px;

  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}

.inputdeets {
  margin-top: 28px;
}

.textboxbio {
  margin-top: 4px;
  width: 84.25%;
  height: 296px;

  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}

.btns {
  padding-top: 72px;
}

.delete {
  width: 165px;
  height: 37px;
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 0.75px 0.75px 7.5px rgba(0, 0, 0, 0.2);
  border-radius: 1.5px;
  border: none;
}

.savechanges {
  width: 165px;
  height: 37px;
  left: 1100px;
  top: 142px;
  background: none;
  filter: drop-shadow(0.75px 0.75px 7.5px rgba(0, 0, 0, 0.2));
  border-radius: 1.5px;
  border-color: #008249;
}

/* <img class="inputimg" src="../Images/Input.svg" alt=""> */

.box {
  margin-top: 4px;

  width: 32.9vw;
  height: 192px;

  vertical-align: middle;
  background: #2e3d4c;
  border: 1.54059px solid rgba(30, 165, 76, 0.2);
  box-sizing: border-box;
  border-radius: 1.54059px;
}

.plus {
  background: #2e3d4c;
  padding-top: 67px;
}

.nbg {
  margin-top: 91px;
}

input:focus {
  outline: none;
  border-color: #008249;
}

textarea:focus {
  outline: none;
  border-color: #008249;
}
.mainsection {
  background-color: #23303d;
}
.maintext {
  font-family: "Fira Code", monospace;
  padding-top: 5%;
  padding-bottom: 4%;
}
text {
  color: #1ea54c;
}
hackathon {
  color: #e7efef99;
}
f {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
}
.vl {
  height: 160px;
  border-left: 1.08px solid #f3f3f34d;
}
.card-details {
  display: flex;
}
.team-members {
  list-style-type: none;
}
li {
  display: flex;
  line-height: 0.99;
}
#pp {
  padding-right: 20px;
}
r {
  float: right;
  padding: 10px;
  color: #e7efef99;
}
.card1 {
  border: none !important;
  background-color: #1d2833 !important;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
}

.card1 * {
  background-color: #1d2833 !important;
}
.card2 {
  border: none !important;
  background-color: #1d2833 !important;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
}

.card2 * {
  background-color: #1d2833 !important;
}
.empty {
  padding: 40px;
}
li p t {
  color: #1ea54c;
  font-size: small;
}
@media only screen and (min-width: 1400px) {
  .card1 {
    position: relative;
    top: -30px;
    left: 8%;
  }
  .card2 {
    position: relative;
    top: -30px;
    left: 13%;
  }
  .card-body {
    margin-left: 8%;
  }
}
@media only screen and (max-width: 1400px) {
  .col-lg-6 {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .textbox {
    width: 100%;
  }
  .box {
    width: 96vw;
  }
  .textboxbio {
    width: 100%;
  }
}
