@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
*{
    background-color: #23303d;
    font-family: "Fira Code", monospace;
    color: #e7efef;
  }
/*Mainsection CSS*/
.form-control{
    max-width: 478px;
    box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
    border: 3px solid rgba(30, 165, 76, 0.2);
    border-radius:2px ;
    background-color: #2E3D4C;
    font-family: "Fira Code", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #ffffff!important;
    outline: 0;
}
.mb-3 small{
  visibility: hidden;
}
input,input:focus {
  outline: none!important;
  border: 2px solid rgba(30, 165, 76, 0.2)!important;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83)!important;
}
input:focus{
  border-color:rgba(11, 226, 83, 0.329)!important;
}
textarea,textarea:focus {
  outline: none!important;
  border: 2px solid rgba(30, 165, 76, 0.2)!important;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83)!important;
}
textarea:focus{
  border-color:rgba(11, 226, 83, 0.329)!important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color:white;
  -webkit-focus-ring:unset;
}
input#git.form-control{
  background-color:#2E3D4C;
}
input#email.form-control{
  background-color:#2E3D4C;
}
textarea#review.form-control{
  background-color:#2E3D4C;
}
input#projectName.form-control{
  background-color:#2E3D4C;
}
input#linkedln.form-control{
  background-color:#2E3D4C;
}
input#name.form-control{
  background-color:#2E3D4C;
}
input#username.form-control{
  background-color:#2E3D4C;
}
input#college.form-control{
  background-color:#2E3D4C;
}
input#year.form-control{
  background-color:#2E3D4C;
}
input#github.form-control{
  background-color:#2E3D4C;
}
input#personal_website.form-control{
  background-color:#2E3D4C;
}
textarea#bio.form-control{
  background-color:#2E3D4C;
}
.content{
  max-width: 478px;
  padding-top:20px;
  text-align:end;
}
.content1{
  width: 239px;
  padding-top:20px;
  text-align:start;
}
.content2{
  width: 239px;
  padding-top:20px;
  text-align:end;
}
::placeholder{
  background-color: #2E3D4C;
}
:placeholder-shown{
  background-color: #2E3D4C;
}
input{
    border: 3px solid rgba(30, 165, 76, 0.2);
    border-radius:2px ;
    background-color: #2E3D4C;
}
#form{
  padding-bottom:50px;
}
.maintext{
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: bold;
    padding-top:15%;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.04em;
    color: #E7EFEF;
}
#dashes{
     padding-top: 50px;
     overflow: hidden;
}
#dashes2{
  padding-top: 40px;
  overflow: hidden;
  padding-bottom: 30px;
}
#dashes3{
  padding-top: 50px;
  overflow: hidden;
  padding-bottom: 30px;
}

#girl{
    overflow: hidden;
    max-width:642px;
    max-height:463.76px;
    padding-top:100px;
}
#man{
    overflow: hidden;
    padding-top:60px;
  max-width:486.11px;
  max-height:363.92px;
}
#skills{
  overflow: hidden;
  padding-top:10%;
  max-width:515.16px;
  max-height:373.02px;
}
.btnsmallversion{
    width: 120px;
    height: 40px;
    font-family: "Fira Code";
    font-size: 18px;
/* identical to box height */
    letter-spacing: 0.04em;
    color: #E7EFEF;
    border-radius: 2px;
    border: none;
    font-family: "Fira Code", monospace;
}
::placeholder{
  font-family: "Fira Code", monospace;
}
/*mainsection media queries*/
@media only screen and (max-width:600px){
 #man{
    display: none;
 }
 #organiser{
    display: none;
 }
 #girl{
     display: none;
 }
 #skills{
   display: none;
 }
#foobottom{
  padding-top:20%;
}
.m{
  justify-content:center;
}
.heading_top{
  padding-bottom:20px;
}
}
@media only screen and  (max-width:990px){
  #skills{
    display:none;
  }
}
@media only screen and  (max-width:990px) and (min-width:768px){
  .button_section{
    padding-left:15%;
    padding-top:12%;
  }
}
@media only screen and (min-width:768px) {
#foobottom{
  padding-top: 10%;
}
.x{
  display:inline-flex;
}
.m{
  justify-content: flex-start;
}
.second{
  padding-left:8%;
}
.heading_top{
  display: none;
}
.card{
  width:813.15px;
  height:356px;
}
}
@media only screen and (max-width:767px){
  .m{
  justify-content:center;
  }
  .maincap{
    padding-top: 10%;
  }
}
/*skills page*/
.skill_selection{
  padding-bottom:30px;
  max-width:478px;
  text-align: end;
}
.top-button{
  padding-bottom:20px;
}
.middle-button{
  padding-bottom:20px;
}
.bottom-button{
  padding-bottom:20px;
}
.bottommost-button{
  padding-bottom:20px;
}
.maincap{
  padding-right: 20%;
}

.button1{
  padding: 0.5vw 2vw ;
  padding-bottom:2vw;
  text-align: center;
  background: #1D2833;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  color: #fff;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  max-height: 38px;
  min-width :103.19px;
  min-height:29.64px;
  font-family: 'Nunito Sans';
}
.button {
  padding: 0.5vw 2vw ;
  padding-bottom:2vw;
  text-align: center;
  color: #fff;
  background: #1EA54C;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  max-height: 38px;
  min-width :103.19px;
  min-height:29.64px;
  font-family: 'Nunito Sans';
}

/*profile_userview*/
.caption{
  padding-top:5%;
  padding-bottom:2%;
}
.topmost_buttons{
  padding-bottom:40px;
}
#save_button{
  padding-top:20px;
  padding-bottom:40px;
}
#square_inactive1{
  padding:1vh 4.5vh;
  border: 2.53333px solid  #226045;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  font-family: "Fira Code", monospace;
}
#square_inactive{
  padding:1vh 4.5vh;
  border: 2.53333px solid  #226045;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  font-family: "Fira Code", monospace;
}
#square_active{
  padding:1vh 4.5vh;
  border: 2.53333px solid  #226045;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  font-family: "Fira Code", monospace;
}
.form-label{
  margin-bottom: 0rem;
  color: rgba(231, 239, 239, 0.36);
}
.bottommost-button{
  padding-bottom:40px;
}
.bottommost_button{
  padding-top:60px;
}
#bottom_square{
  padding-bottom:20px;
}
.card{
  border:none;
}
.card-body{
  background:#1D2833;
}
.card-title{
  background:#1D2833;
}
p{
  background:#1D2833;
  margin-bottom:0.2rem;
}
.check-label{
  background:#1D2833;
}
.card-body h5{
  padding-bottom: 20px;
}
.not_button{
  padding-left:30px;
}
.form-check-input:checked {
  background-color: green ;
  border-color: green ;
}
.form-check-input[type=checkbox] {
  border-radius:0rem;
}
