@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
* {
    color: #e7efef;
    font-family: "Fira Code", monospace;
}
.mainsection{
    background-color: #23303d;
}
.maintext{
      font-family: "Fira Code", monospace;
      padding-top:5%;
      padding-bottom:4%;
  }
text{
  color: #1ea54c;
}
hackathon{
  color: #E7EFEF99;
}
f{
  font-family: 'Nunito Sans', sans-serif;
  font-size:40px;
}
.vl{
  height: 230px;
  border-left: 1.08px solid #F3F3F34D;
}
.card-details{
    display: flex;
}
.card2 {
  position: relative;
  top: -30px;
  left: 13%;
}
.card-body {
  margin-left: 8%;
}

@media only screen and (max-width: 1400px) {
  #left_triangles {
    display: none;
  }
  #right_triangles {
    display: none;
  }
  .col-lg-6 {
    padding-top: 40px;
  }
}
  
  @media only screen and (max-width:1400px){
    #left_triangles{
        display: none;
    }
    #right_triangles{
        display: none;
    }
    .col-lg-6{
        padding-top:40px;
    }
  }
@media only screen and (max-width:600px){
  .maintext h2{
    padding-top:5%;
  }
}
