@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");
* {
  color: #e7efef;
  font-family: "Fira Code", monospace;
}
.mainsection {
  background-color: #23303d;
}

.maintext {
  font-family: "Fira Code", monospace;
  padding-top: 5%;
  padding-bottom: 4%;
}
text {
  color: #1ea54c;
}
hackathon {
  color: #e7efef99;
}
f {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
}
.vl {
  height: 230px;
  border-left: 1.08px solid #f3f3f34d;
}
.card-details {
  display: flex;
}
.team-members {
  list-style-type: none;
}
li {
  display: flex;
  line-height: 0.99;
}
#pp {
  padding-right: 20px;
}
r {
  float: right;
  padding: 10px;
  color: #e7efef99;
}
.card1 {
  border: none !important;
  background-color: #1d2833 !important;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
}
.card2 {
  border: none !important;
  background-color: #1d2833 !important;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
}
.empty {
  padding: 40px;
}
li p t {
  color: #1ea54c;
  font-size: small;
}
@media only screen and (min-width: 1400px) {
  .card1 {
    position: relative;
    top: -30px;
    left: 8%;
  }
  .card2 {
    position: relative;
    top: -30px;
    left: 13%;
  }
  .card-body {
    margin-left: 8%;
  }
}
@media only screen and (max-width: 1400px) {
  #left_triangles {
    display: none;
  }
  #right_triangles {
    display: none;
  }
  .col-lg-6 {
    padding-top: 40px;
  }
}
