@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
* {
  background-color: #23303d;
  font-family: "Fira Code", monospace;
  
}

nav {
  background-color: #1d2833;
  padding-left: 8rem;
}
nav * {
  background-color: #1d2833;
}
g {
  color: #1ea54c;
}

.btnsignup {
  background: linear-gradient(103.71deg, #008249 -20.85%, #226045 122.33%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: none;
  width: 154px;
  height: 36px;

  
}

.navbar-nav {
    padding-right: 8rem;
}
