@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
* {
    background-color: #23303d;
    font-family: "Fira Code", monospace;
    color: #e7efef;
  }
nav {
    background-color: #1d2833;
    padding-left: 128px;
    top: 13px;
    box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
  }
  #nav{
      padding-bottom:8%;
  }
  b {
    font-size: 26px;
  }
  
  nav * {
    background-color: #1d2833;
    font-weight: 700;
  }
  g {
    color: #1ea54c;
  }
 
    .btnsignup {
        background: linear-gradient(
    103.71deg
    , #008249 -20.85%, #226045 122.33%);
        box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
        border-radius: 2px;
        border: none;
        width: 154px;
        height: 36px;
        font-size: 16.9706px;
    }
  
  .navbar-nav {
    padding-right: 128px;
  }
  
.form-control{
    max-width: 478px;
    box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
    border: 3px solid rgba(30, 165, 76, 0.2)!important;
    border-radius:2px !important;
    background-color: #2E3D4C!important;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #E7EFEF;
    opacity: 0.7;
}
input{
    border: 3px solid rgba(30, 165, 76, 0.2);
    border-radius:2px ;
    background-color: #2E3D4C;
}
.maintext{
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: bold;
    padding-top:132px;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.04em;
    color: #E7EFEF;
}
#dashes{
     padding-top: 50px;
     overflow: hidden;
}

#girl{
    overflow: hidden;
    max-width:642px;
    max-height:463.76px;
    padding-top:130px;
}
#man{
    overflow: hidden;
    max-width:486.11px;
    max-height:363.92px;
}
#organiser{
    overflow: hidden;
    padding-top:60px;
}
.btnsmallversion{
    width: 143px;
    height: 46px;
    font-family: "Fira Code";
    font-weight: bold;
    font-size: 44px;
    line-height: 29px;
/* identical to box height */
    letter-spacing: 0.04em;
    color: #E7EFEF;
    border-radius: 2px;
    border: none;
}

.footerbottom {
    top: 31px;
    font-family: Fira Code;
    font-style: normal;
    font-weight: bold;
    font-size: 38.2353px;
    line-height: 50px;
    letter-spacing: 0.04em;
    background: #1d2833;
  }
  
  .foo {
    box-shadow: -3px -3px 3px 1px rgba(24, 33, 42, 0.83);
  }
  .footerbottomt {
    top: 31px;
  
    font-family: Fira Code;
    font-style: normal;
    font-weight: bold;
    font-size: 38.2353px;
    line-height: 50px;
    letter-spacing: 0.04em;
    background: #1d2833;
  }
  .footerbottom1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16.5391px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: rgba(231, 239, 239, 0.7);
    background: #1d2833;
  }
  .footerbottom1 .row {
    margin: 0;
  }
  
  .bottomtext {
    margin-left: 7.5rem;
  }
  
  g1 {
    background: #1d2833;
    color: #1ea54c;
  }
  
  .text-center {
    padding-top: 31px;
  }
  
  .footerbottom hr {
    width: 77vw;
    margin-top: 26px;
    margin-left: 8.125rem;
    border: 1px solid rgba(231, 239, 239, 0.2);
  }
  .footerbottomimg {
    margin-left: 6vw;
  }
@media only screen and (max-width:600px){
 #man{
    display: none;
 }
 #organiser{
    display: none;
 }
 #girl{
     display: none;
 }
 .content{
  position:relative;
}
#btnaddhack{
  position:absolute;
  top:40%;
  right:0;
}
#foobottom{
  padding-top:20%;
}
}
@media only screen and (min-width:768px) {
  .organiserdash{
    display:none;
  }
.content{
  position:relative;
}
#btnaddhack{
  position:absolute;
  top:40%;
  right:25%;
}
#foobottom{
  padding-top: 10%;
}
}