@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&family=Raleway&display=swap");
html,body{
	background-color: #23303D;
	margin:0;
	font-family: "Fira Code";
	font-style: normal;
	font-weight: bold;
}
.form-control{
  max-width: 750px;
  max-height:56px;
  box-shadow: 3px 3px 3px 1px rgba(24, 33, 42, 0.83);
  border: 3px solid rgba(30, 165, 76, 0.2)!important;
  border-radius:2px !important;
  background-color: #2E3D4C!important;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #E7EFEF;
  opacity: 0.7;
}
input{
  border: 3px solid rgba(30, 165, 76, 0.2);
  border-radius:2px ;
  background-color: #2E3D4C;
}
form{
padding-top:70px;
padding-bottom:30px;
}
.button {
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  background: #1EA54C;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  height: 38px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 15.2px;
  letter-spacing: 0.04em;
}
.button1{
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  background: #1D2833;
  border: 2.53333px solid #1EA54C;
  box-sizing: border-box;
  border-radius: 63.3333px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 15.2px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #1EA54C;
  filter: drop-shadow(2px 2px 14px rgba(0, 0, 0, 0.18));
  height:38px;
}
.box{
  max-width:750px;
  padding-bottom: 20px;
}
.card{
  border:none;
  padding-bottom: 20px;
  background-color:#23303D;
}
.card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:#1D2833;
  color: #E7EFEF;
  font-family: "Nunito Sans";
  line-height:1;
}
.card-body p{
  font-size:large;
}
t{
  font-size: small;
  color:#1EA54C;
}